@font-face {
    font-family: 'Raleway';
    src: url(./font/Raleway-Black.ttf);
    src: url(./font/Raleway-Light.ttf);
}

* {
    font-family: 'Raleway';
}

h3 {
    font-size: 22px;
    color: blue;
}

p, li {
    font-size: 20px;
    font-weight: bold;
}
